header {
    background-color:antiquewhite;
     padding: 0px;
    margin: 0px;
}
#BOX0 {
    background-color:rgb(158, 226, 253);
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.BOX1 {

    background-color: aliceblue;
    padding: 40px;
    border-radius: 50px;
    border-style: solid;
    border-width: 0px;
    margin-bottom: 20px;
}
.BOX2 {
    background-color: aliceblue;
    padding: 40px;
    border-radius: 50px;
    border-style: solid;
    border-width: 0px;
    margin-bottom: 20px;
}
#COPY {
    background-color:rgb(158, 226, 253);
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    

}
